<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head.ejs") %>
        <title>Add Category Item</title>
</head>

<body>
    <%- include("./partials/sidebar.ejs") %>
        <main class="main users chart-page" id="skip-target">
            <div class="container">
                <h2 class="main-title">Dashboard</h2>

                <!-- Main Form Section -->
                <main class="page-center">
                    <form class="sign-up-form form" action="/admin/createitem" method="POST"
                        enctype="multipart/form-data">
                        <h3 class="text-center">Add Item</h3>

                        <!-- Category Dropdown -->
                        <label class="form-label-wrapper">
                            <p class="form-label">Select Category</p>
                            <select class="form-input form-select" name="catid" required>
                                <option value="">-- Select Category --</option>
                                <% allcat.forEach(cat=> { %>
                                    <option value="<%= cat._id %>">
                                        <%= cat.catname %>
                                    </option>
                                    <% }) %>
                            </select>
                        </label>
                        <label class="form-label-wrapper">
                            <p class="form-label">Item Name</p>
                            <input class="form-input" name="itemname" type="text" placeholder="Enter Product Name"
                                required>
                        </label>
                        <label class="form-label-wrapper">
                            <p class="form-label">MRP</p>
                            <input class="form-input" name="mrp" type="number" step="0.01" placeholder="Enter MRP"
                                required>
                        </label>
                        <label class="form-label-wrapper">
                            <p class="form-label">Description</p>
                            <textarea class="form-input" name="disc" rows="3" placeholder="Enter Description"
                                required></textarea>
                        </label>
                        <label class="form-label-wrapper">
                            <p class="form-label">Product Image</p>
                            <input class="form-input" type="file" name="image" accept="image/*" required>
                        </label>
                        <button class="form-btn primary-default-btn transparent-btn">Add Item</button>
                    </form>
                </main>
            </div>
        </main>

        <%- include("./partials/footer.ejs") %>
            <%- include("./partials/script.ejs") %>


</body>

</html>